/*  base tablet background - background should
    be as wide & tall as the tablet screen  */
.wallpaper {
    position: absolute;
    bottom: 7%;
    left: 33%;
}

/*  base tablet image - background should
    be as wide & tall as the tablet screen  */
.tablet-base {
    padding: 24px 26px 24px 24px;
    margin: 100vh 22% 0 22%;
    position: absolute;
    bottom: 5%;
    left: 10%;
}

.minet-wifi {
    position: absolute;
    color: grey;
    top: 185px;
    right: 935px;
    font-family: 'Alexandria';font-size: 15px;
    font-weight: bold;
}

.netwifi {
    position: absolute;
    top: 172.5px;
    right: 890px;
    background-color: rgba(30, 143, 255, 0);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer;
}

.pwrbtn {
    position: absolute;
    bottom: 7.65%;
    left: 48.7%;
    background-color: rgba(30, 143, 255, 0);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 38px;
    cursor: pointer;
}